-A INPUT -p udp -m udp --dport 53 -m dns --qtype SOA -j LOG
-A INPUT -p udp -m udp --dport 53 -m dns --qtype ANY -j LOG
-A INPUT -p udp -m udp --dport 53 -m dns --qtype A -j LOG
-A INPUT -p udp -m udp --dport 53 -m dns --qtype AAAA -j LOG
-A INPUT -p udp -m udp --dport 53 -m dns --qtype CNAME -j LOG
-A INPUT -p udp -m udp --dport 53 -m dns --qtype MX -j LOG
-A INPUT -p udp -m udp --dport 53 -m dns --qtype NS -j LOG

-A INPUT -p udp -m udp --dport 53 -m dns --rmatch --qname example.net -j LOG
-A INPUT -p udp -m udp --dport 53 -m dns --rmatch --qname example.jp --qtype A -j LOG
-A INPUT -p udp -m udp --dport 53 -m dns --rmatch --qname example.jp --qtype ANY -j DROP
-A INPUT -p udp -m udp --dport 53 -m dns --rmatch --qname example.org ! --maxsize 24 --qtype A -j LOG

-A INPUT -p udp -m udp --dport 53 -m dns --aa -j LOG
-A INPUT -p udp -m udp --dport 53 -m dns --tc -j LOG
-A INPUT -p udp -m udp --dport 53 -m dns --rd -j LOG
-A INPUT -p udp -m udp --dport 53 -m dns --ra -j LOG
-A INPUT -p udp -m udp --dport 53 -m dns --ad -j LOG
-A INPUT -p udp -m udp --dport 53 -m dns --cd -j LOG

#!/bin/bash
######################################################
DNSSERVER=$1
dig A example.net @${DNSSERVER} +time=1
dig A example.jp @${DNSSERVER} +time=1
dig ANY example.jp @${DNSSERVER} +time=1
dig A no12345678901234567890.example.org @${DNSSERVER} +time=1
dig A example.co.jp +tcp @${DNSSERVER} +time=1
dig A example.ad.jp +norec @${DNSSERVER} +time=1
dig A example.or.jp +rec @${DNSSERVER} +time=1

